lib/types/**/*.js
lib/types/**/*.js.map
lib/types/**/*.d.ts.map
node_modules/
.pnpm-store/
*.tgz
!fixtures/alpha1/tarballs/*.tgz
!fixtures/alpha4/
!fixtures/alpha4/tarballs/
!fixtures/alpha4/tarballs/*.tgz
*.tsbuildinfo
coverage/
*.log
prototypes/
.debug/
